[class*="icon-"]{
	display: inline-block;
	background-repeat: no-repeat;
	background-size: cover;
	vertical-align: middle;
}
.icon-cash{
	background-image: url(../images/icon-cash.png);
	width: rem(18);
	height: rem(18);
}
.icon-more{
	background-image: url(../images/icon-more.png);
	width: rem(15);
	height: rem(15);	
}
.icon-faq-personal{
	background-image: url(../images/icon-faq-personal.png);
	width: rem(91);
	height: rem(94);	
}
.icon-faq-group{
	background-image: url(../images/icon-faq-group.png);
	width: rem(104);
	height: rem(104);	
}
.icon-location-home{
	background-image: url(../images/icon-location-home.png);
	width: rem(17);
	height: rem(15);
}
.icon-raw{
	background-image: url(../images/icon-raw.png);
	width: rem(69);
	height: rem(61);
}
.icon-auth{
	background-image: url(../images/icon-auth.png);
	width: rem(66);
	height: rem(62);
}
.icon-secur{
	background-image: url(../images/icon-secur.png);
	width: rem(67);
	height: rem(64);
}
.icon-relay{
	background-image: url(../images/icon-relay.png);
	width: rem(70);
	height: rem(68);
}
.icon-omni{
	background-image: url(../images/icon-omni.png);
	width: rem(59);
	height: rem(63);	
}
.icon-post{
	background-image: url(../images/icon-post.png);
	width: rem(64);
	height: rem(56);
}
.icon-search{
	background-image: url(../images/icon-search.png);
	width: rem(36);
	height: rem(36);	
}
.icon-sign{
	background-image: url(../images/icon-sign.png);
	width: rem(44);
	height: rem(39);
}
.icon-sign-white{
	background-image: url(../images/icon-sign-white.png);
	width: rem(21);
	height: rem(18);	
}
.icon-box{
	background-image: url(../images/icon-box.png);
	width: rem(35);
	height: rem(48);
}
.icon-messege{
	background-image: url(../images/icon-messege.png);
	width: rem(47);
	height: rem(37);
}
.icon-docu{
	background-image: url(../images/icon-docu.png);
	width: rem(39);
	height: rem(54);
}
.icon-payment{
	background-image: url(../images/icon-payment.png);
	width: rem(47);
	height: rem(51);
}
.icon-lock{
	background-image: url(../images/icon-lock.png);
	width: rem(38);
	height: rem(51);
}
.icon-lock02{
	background-image: url(../images/icon-lock02.png);
	width: rem(18);
	height: rem(14);
}
.icon-btn-arrow{
	background-image: url(../images/icon-btn-arrow.png);
	width: rem(15);
	height: rem(25);
}
.icon-btn-arrow-white{
	background-image: url(../images/icon-btn-arrow-white.png);
	width: rem(10);
	height: rem(16);
}
.icon-refresh{
	background-image: url(../images/icon-refresh.png);
	width: rem(24);
	height: rem(24);	
}
.icon-speaker{
	background-image: url(../images/icon-speaker.png);
	width: rem(26);
	height: rem(23);
}
.icon-chk{
	background-image: url(../images/icon-chk.png);
	background-repeat: no-repeat;
	width: rem(30);
	height: rem(30);
}
.icon-chked{
	background-image: url(../images/icon-chked.png);
	background-repeat: no-repeat;
	width: rem(30);
	height: rem(30);
}
.icon-naver-login{
	background-image: url(../images/icon-naver-login.png);
	width: rem(100);
	height: rem(100);
}
.icon-kakao-login{
	background-image: url(../images/icon-kakao-login.png);
	width: rem(100);
	height: rem(100);
}
.icon-facebook-login{
	background-image: url(../images/icon-facebook-login.png);
	width: rem(100);
	height: rem(100);
}
.icon-personal-join{
	background-image: url(../images/icon-personal-join.png);
	width: rem(82);
	height: rem(81);
	
}
.icon-group-join{
	background-image: url(../images/icon-group-join.png);
	width: rem(119);
	height: rem(81);
}
.icon-info{
	background-image: url(../images/icon-info.png);
	width: rem(24);
	height: rem(24);
}
.icon-join-complete{
	background-image: url(../images/icon-join-complete.png);
	width: rem(200);
	height: rem(200);
}
.icon-zoomin{
	background-image: url(../images/icon-zoomin.png);
	width: rem(34);
	height: rem(34);
}
.icon-zoomout{
	background-image: url(../images/icon-zoomout.png);
	width: rem(34);
	height: rem(34);
}

.icon-insert-txt{
	background-image: url(../images/icon-insert-txt.png);
	width: rem(28);
	height: rem(28);
}
.icon-stamp{
	background-image: url(../images/icon-stamp.png);
	width: rem(23);
	height: rem(31);
}
.icon-checklist{
	background-image: url(../images/icon-checklist.png);
	width: rem(24);
	height: rem(24);
}
.icon-selected-list{
	background-image: url(../images/icon-selected-list.png);
	width: rem(24);
	height: rem(24);
}
.icon-memo{
	background-image: url(../images/icon-memo.png);
	width: rem(25);
	height: rem(25);
}
.icon-service{
	background-image: url(../images/icon-service.png);
	width: rem(75);
	height: rem(75);	
}
.icon-arrow-down{
	background-image: url(../images/icon-select-arrow.png);
	width: rem(23);
	height: rem(13);
}
.icon-close-white{
	background-image: url(../images/icon-close-white.png);
	width: rem(20);
	height: rem(20);
}