.pagination{
	text-align: center;
	margin: rem(50) 0 rem(100);
	a{
		display: inline-block;
		width: rem(30);
		height: rem(30);
		box-sizing: border-box;
		vertical-align: middle;
		padding: rem(8) rem(10);
		// background-color: red;
		color: $default-color;
		&:nth-of-type(1),&:nth-of-type(2),&:nth-last-of-type(1),&:nth-last-of-type(2){
			border: rem(1) solid $border-gray;
			font-size: 0;
			background-image: url(../images/icon-page-arrow.png);
			background-repeat: no-repeat;
		}
		&:nth-of-type(1){
		}
		&:nth-of-type(2){
			margin-right: rem(20);
			background-position: rem(-2) rem(-30);
		}
		&:nth-last-of-type(2){
			margin-left: rem(20);
			background-position: rem(-30) rem(-30);
		}
		&:nth-last-of-type(1){
			background-position: rem(-30) rem(0);
		}
		&.on{
			background-color: $main-color;
			color: $complementary-color;
		}
		&:hover:not(.on){
			background-color: $main-color-lighten;
			// color: $complementary-color;
		};
	}
}
@media screen and (max-width: 1000px){
	.pagination{
		text-align: center;
		margin: rem(50) 0 rem(100);
		a{
			display: inline-block;
			width: rem(60);
			height: rem(60);
			box-sizing: border-box;
			vertical-align: middle;
			padding: rem(16) rem(20);
			// background-color: red;
			color: $default-color;
			&:nth-of-type(1),&:nth-of-type(2),&:nth-last-of-type(1),&:nth-last-of-type(2){
				border: rem(1) solid $border-gray;
				font-size: 0;
				background-image: url(../images/icon-page-arrow.png);
				background-repeat: no-repeat;
			}
			&:nth-of-type(1){
				background-position: rem(0) rem(4);
			}
			&:nth-of-type(2){
				margin-right: rem(20);
				background-position: rem(0) rem(-45);
			}
			&:nth-last-of-type(2){
				margin-left: rem(20);
				background-position: rem(-45) rem(-45);
			}
			&:nth-last-of-type(1){
				background-position: rem(-45) rem(4);
			}
			&.on{
				background-color: $main-color;
				color: $complementary-color;
			}
			&:hover:not(.on){
				background-color: $main-color-lighten;
				// color: $complementary-color;
			};
		}
	}
}