.container {
    min-width: unset;
    min-height: unset;
}

.service .editor {
    /* padding: 0 1.25rem; */
    padding: 0;
    overflow: hidden;
}

.service .editor .edit-body {
    /* height: 36.875rem; */
    height: calc(100vh - 4.4rem);
}

.service .editor .edit-body .thumbnail li {
    border: 0.125rem solid transparent;
}

.service .editor .edit-body .thumbnail li:not(.on) canvas {
    opacity: 0.7;
}

.service .editor .edit-body .thumbnail li .thumbnail-label {		
    color: #292929;		
    font-size: 22px;		
    font-weight: 700;		
    left: 10px;		
    top: 10px;		
    position: absolute;		
    text-shadow: 0 0 15px hsla(0,0%,100%,.4);		
}

.service .editor .edit-body .editor-view {
    width: calc(100% - 26.875rem);
    overflow: auto;
}

.service .editor .edit-body .edit-pallet {
    height: calc(100% - 1.25rem);
}

.service .editor .edit-body .editor-view .document-wrapper {		
    text-align: center;		
}		
    
.service .editor .edit-body .editor-view .page-wrapper {		
    margin-top: 10px;		
    margin-bottom: 10px;		
    display: inline-block;		
}

.service .editor .edit-body .editor-view .page-wrapper canvas {		
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);		
}

.resize-handle {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 10px 0 0 0;
    right: 0;
    bottom: 0;
    cursor: se-resize;
}

.textbox-body:hover + .textbox-header {
    display: block;
}

.inputbox-area {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
}
  
body {
    /* overflow: hidden; */
}