@media screen and (min-width: 1001px) {
    body {
        overflow: hidden;
    }
    
    .container {
        min-width: unset;
        min-height: unset;
    }
    
    .service .editor {
        /* padding: 0 1.25rem; */
        padding: 0;
    }
    
    .service .editor .edit-body {
        /* height: 36.875rem; */
        height: calc(100vh - 4.375rem);
    }
    
    .service .editor .edit-body .thumbnail li {
        border: 0.125rem solid transparent;
    }

    .service .editor .edit-body .thumbnail li canvas {
        display: inline-block;
        width: 100%;
    }
    
    .service .editor .edit-body .thumbnail li:not(.on) canvas {
        opacity: 0.7;
    }
    
    .service .editor .edit-body .thumbnail li .thumbnail-label {		
        color: #292929;		
        font-size: 1.5rem;		
        font-weight: 700;		
        left: 10px;		
        top: 10px;		
        position: absolute;		
        text-shadow: 0 0 15px hsla(0,0%,100%,.4);		
    }
    
    .service .editor .edit-body .editor-view {
        overflow: auto;
    }
    
    .service .editor .edit-body .edit-pallet {
        height: calc(100% - 1.25rem);
        overflow: hidden;
    }
    
    .service .editor .edit-body .edit-pallet a {
        cursor: pointer;
    }

    .service .editor .edit-body .editor-view .document-wrapper {		
        text-align: center;		
    }		
        
    .service .editor .edit-body .editor-view .page-wrapper {		
        margin-top: 10px;		
        margin-bottom: 10px;		
        margin-left: 10px;
        margin-right: 10px;
        display: inline-block;		
    }
    
    .service .editor .edit-body .editor-view .page-wrapper canvas {		
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);	
    }
}
@media screen and (max-width: 1000px) {
    .service {
        margin-top: 0;
    }
    .service .editor {
        margin: 0;
    }
    .service .editor .edit-body {
        /* height: 36.875rem; */
        height: calc(100vh - 4.375rem);
        min-height: unset;
    }
    .service .editor .edit-body .editor-view {
        overflow: auto;
        padding-top: 17.625rem;
        height: calc(100% - 10.625rem);
    }
    .service .editor .edit-body .edit-pallet {
        z-index: 987654321;
    }
    .service .editor .edit-body .edit-pallet a {
        cursor: pointer;
    }
    .service .editor .edit-body .editor-view .document-wrapper {		
        text-align: center;		
    }
    .service .editor .edit-body .editor-view .page-wrapper {		
        margin-left: 10px;
        margin-right: 10px;
        display: inline-block;		
    }
    .service .editor .edit-body .thumbnail {
    
    }
    .service .editor .edit-body .thumbnail .thumbnail-document-wrapper {
        height: 100%;
    }
    .service .editor .edit-body .thumbnail .thumbnail-page-wrapper {
        height: 100%;
    }
    .service .editor .edit-body .thumbnail ul li canvas {
        display: inline-block;
        height: 100%;
    }
    .service .editor .edit-body .thumbnail li {
        border: 0.125rem solid transparent;
    }
    .service .editor .edit-body .thumbnail li:not(.on) canvas {
        opacity: 0.7;
    }
    .service .editor .edit-body .thumbnail li .thumbnail-label {		
        color: #292929;		
        font-size: 1.5rem;		
        font-weight: 700;		
        left: 10px;		
        top: 10px;		
        position: absolute;		
        text-shadow: 0 0 15px hsla(0,0%,100%,.4);		
    }
    .service .editor .edit-body .editor-view .page-wrapper canvas {		
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);		
    }
}



.resize-handle {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 10px 0 0 0;
    right: 0;
    bottom: 0;
    cursor: se-resize;
}

.textbox-body:hover + .textbox-header {
    display: block;
}

.inputbox-area {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
}
  